# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
pipenv/
.venv/
.env.bak/
env/

# Logs and databases
*.log
*.sql

# Dependency directories
/.venv
/.vscode
/.idea

# Output of pyinstaller
/dist
/build

# Local development
*.sqlite3

# macOS
.DS_Store

# Windows
Thumbs.db
